<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Search Player"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div *ngIf="role === 'ROLE_ADMIN' || role === 'manager'" class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Add Player
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        


        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>



        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">fullName</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                [src]="element.imagePath"
                width="40"
              />
              <div class="m-l-16">
                <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.fullName }}
                </p>
                <small class="mat-body-1 f-s-14">{{ element.fullName }}</small>
              </div>
            </div>
          </td>
        </ng-container>









        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Date Of Birth
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.dateOfBirth | date : "fullDate" }}</td>
        </ng-container>














        <ng-container matColumnDef="countryOfResidence">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Country
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.countryOfResidence }}</td>
        </ng-container>
        
        <ng-container matColumnDef="whatsappPhoneNumber">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            whatsapp 
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.whatsappPhoneNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="discordId">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            DiscordId
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.discordId }}</td>
        </ng-container>

        <ng-container matColumnDef="mailAddress">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Mail Address
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.mailAddress }}</td>
        </ng-container>

        <ng-container matColumnDef="contractStart">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Contract Start
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.contractStart | date : "fullDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="contractEnd">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Contract End
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.contractEnd | date : "fullDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            salary
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.salary   }}
          </td>
        </ng-container>

        <ng-container matColumnDef="jerseySize">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Jersey Size
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.jerseySize }}
          </td>
        </ng-container>

  
        <ng-container matColumnDef="socialMediaLinkFollowers">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Social Media Followers
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.socialMediaLinkFollowers }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              (click)="openDialog('Update', element)"
              class="m-r-10 cursor-pointer"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
              (click)="openDialog('Delete', element)"
              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
